- name: Oracle common setup
  hosts: oracle
  become: true
  tasks:
    - name: Add EPEL repository
      ansible.builtin.dnf:
        name:
          - epel-release
        state: present
        update_cache: true

    - name: Install common dependencies
      ansible.builtin.dnf:
        name: 
          - fail2ban
          - firewalld
          - dnf-automatic
        state: present
        update_cache: true
        
    - name: Disable SSH password authentication
      ansible.builtin.lineinfile:
        dest: /etc/ssh/sshd_config
        regexp: "^PasswordAuthentication"
        line: "PasswordAuthentication no"
        state: present
      
    - name: Disable SSH login as root
      ansible.builtin.lineinfile:
        dest: /etc/ssh/sshd_config
        line: PermitRootLogin no
        state: present

    - name: Copy default fail2ban config
      ansible.builtin.copy:
        src: /etc/fail2ban/jail.conf
        dest: /etc/fail2ban/jail.local
        remote_src: true
      

    - name: Insert fail2ban ssh config
      ansible.builtin.blockinfile:
        path: /etc/fail2ban/jail.local
        state: present
        insertafter: "^\\[sshd"
        block: |
          enabled = true
          filter = sshd
          maxretry = 3
          findtime = 600
          bantime = 3600
    
    - name: Enable nginx jails
      ansible.builtin.blockinfile:
        path: /etc/fail2ban/jail.local
        block: "enabled = true"
        insertafter: "^\\[{{ item }}"
        marker: "# {mark} ANSIBLE MANAGED BLOCK {{ item }}"
        state: present
      loop:
        - 'nginx-forbidden'
        - 'nginx-bad-request'
        - 'nginx-botsearch'
 
    - name: Add auto-update config (security updates only)
      ansible.builtin.copy:
        dest: /etc/dnf/automatic.conf
        src: ./confs/dnf_automatic.conf

    - name: Start and enable services
      ansible.builtin.systemd:
        name: "{{ item }}"
        state: started
        enabled: true
      loop:
        - firewalld
        - fail2ban
        - dnf-automatic.timer

    # Using the same password for both accounts may be technically not that secure, but given that it is a unique password for the machine
    # I doubt it will be big deal

    - name: Set up opc password
      ansible.builtin.user:
        name: opc
        group: wheel
        password: $6$0UAqS8/p8DroVQ.i$BrSFKNBMoYM6MbNgPLP01QbJiFBYsce9rszWaKxE4EfdNL9OmCbX/TKbQiDSaKuW3IAy7W6BzIOOOmLqReow80

    - name: Set up root password
      ansible.builtin.user:
        name: root
        password: $6$0UAqS8/p8DroVQ.i$BrSFKNBMoYM6MbNgPLP01QbJiFBYsce9rszWaKxE4EfdNL9OmCbX/TKbQiDSaKuW3IAy7W6BzIOOOmLqReow80

    - name: Remove Oracle Cloud sudoer file
      ansible.builtin.file:
        state: absent
        path: /etc/sudoers.d/90-cloud-init-users